<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">-->
        <!--<property name="testWhileIdle" value="true"/>-->
        <!--<property name="minEvictableIdleTimeMillis" value="60000"/>-->
        <!--<property name="timeBetweenEvictionRunsMillis" value="30000"/>-->
        <!--<property name="numTestsPerEvictionRun" value="-1"/>-->
        <!--<property name="maxTotal" value="50"/>-->
        <!--<property name="maxIdle" value="50"/>-->
        <!--<property name="minIdle" value="10"/>-->
    <!--</bean>-->

    <!--<bean id="jedisSentinelPool" class="redis.clients.jedis.JedisSentinelPool" destroy-method="destroy">-->
        <!--<constructor-arg name="masterName">-->
            <!--<value>master</value>-->
        <!--</constructor-arg>-->
        <!--<constructor-arg name="sentinels">-->
            <!--<set value-type="java.lang.String">-->
                <!--<value>192.168.3.142</value>-->
            <!--</set>-->
        <!--</constructor-arg>-->
        <!--<constructor-arg name="poolConfig" ref="jedisPoolConfig"/>-->
    <!--</bean>-->


    <!--<bean id="redisUtils" class="com.guwr.accumulate.common.cache.RedisUtils">-->
        <!--<property name="jedisSentinelPool" ref="jedisSentinelPool"/>-->
    <!--</bean>-->

</beans>